<div id="wrapper">
  <a>Admin</a>
  <nav>
    <a>
      <i class="fa fa-bars"></i>
    </a>
    <div class="top">
      <ul>
        <li class="item">
          <a href="#">
            <i class="fa fa-envelope"></i>
            <span>4 </span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-warning"></i>
            <span>4 </span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-tasks"></i>
            <span>4</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-user"></i>
            <span>username</span>
            <i class="fa fa-sort-down"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<div id="leftMenu">
  <ul>
    <li>
      <a href="#"><i> </i>后台首页<i class="fa fa-angle-down"> </i></a>
      <!--<ul>
        <li>
          <a href="#"><i> </i>后台首页<i class="fa fa-angle-down"> </i></a>
        </li>
        <li>
          <a href="#"><i> </i>后台首页<i class="fa fa-angle-down"> </i></a>
        </li>
        <li>
          <a href="#"><i> </i>后台首页<i class="fa fa-angle-down"> </i></a>
        </li>
      </ul>-->
    </li>
    <li>
      <a href="#"><i> </i>后台首页<i class="fa fa-angle-down"> </i></a>
    </li>
  </ul>
</div>